# Pandas

## Operations

In [ ]:
# Import pandas

In [ ]:
# Create a Dictionary to convert into dataframe
data = {'Department': ['Finance', 'Admin', 'HR', 'Development', 'HR', 'Finance'],
        'Person': ['Jack', 'John', 'Amy', 'Jane', 'Sam', 'Harry'],
        'Salary': [20000, 40000, 20000, 50000, 34000, 70000]}

In [ ]:
# Create the dataframe from the above dictionary

In [ ]:
# Display the df

In [ ]:
# display the first five columns from the dataframe

In [ ]:
# Display the description of the database

Info on Unique Values

In [ ]:
# Display the unique values for department

In [ ]:
# Display the number of unique values for department

In [ ]:
# Display the number of values for each department

Selecting data from multiple columns

In [ ]:
# Select employee from HR or Finance with salary greater than 20000

### Applying Function

If we want to apply function to certain columns than we can apply using the apply() function. We should define the function to be applied beforehand

In [ ]:
# Lets create a function to give 10 percent of the salary as bonus to every employee

In [ ]:
# Apply the bonus function on the salary column and store the result in new df column called Bonus

In [ ]:
# Display the df

In [ ]:
# Calculate the total amount being spent on bonus

In [ ]:
# Calculate the total amount being spent on bonus by each department

Get column and index names

In [ ]:
# Display the name of all columns in the dataframe

In [ ]:
# Display the index of the dataframe

Sorting and Ordering a DataFrame

In [ ]:
# Display the df again

In [ ]:
# Sort the values by Person

In [ ]:
# To sort the data by index
# ascending: bool=True by default
# Use sort_index()

In [ ]:
# Display the df again

## Merging, Joining and Concatenating

In [ ]:
# Create left and right df for understanding merging, joining and concatenating
left_df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right_df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# Dispaly the left df
left_df

In [ ]:
# Display the right df
right_df

### Concatenation
Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use pd.concat and pass in a list of DataFrames to concatenate together:

In [ ]:
# Use concat() to concat two dfs

In [ ]:
# use concat() with axis=1 to concat in another dimension

### Merging
The merge function allow us to merge DataFrames together using a similar logic as merging SQL Tables together.

In [ ]:
# Display the left df again

In [ ]:
# Display the right df again

In [ ]:
# Inner Merge left and right df using merge() on key

In [ ]:
# Inner Merge left and right df using merge() on key

In [ ]:
# Inner Merge left and right df using merge() on key

### Joining

Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
# Create left and right df
left_df = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right_df = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
# Display the left df

In [ ]:
# Display the right df

In [ ]:
# Inner Join right with left

In [ ]:
# Outer join right with left