# Pandas

### Missing data

We will go through the methods on how to handle the missing data in pandas dataframe

In [ ]:
# Import pandas and numpy

In [ ]:
# Create pandas data frame with NaN values
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
# Display the df

Drop the columns or rows with null value
- axis = 0 for row
- axis = 1 for column

In [ ]:
# Drop rows with null values

In [ ]:
# Drop column with null values

Filling values to the null values

In [ ]:
# Fill null values with a constant value

In [ ]:
# Fill the null values with mean

In [ ]:
# Select first column and fill null values with the mean of the column

# Groupby

The groupby method are used to group the rows of data together and call aggregate functions

In [ ]:
# Create a Dictionary to convert into dataframe
data = {'Department': ['Finance', 'Admin', 'HR', 'Development', 'HR', 'Finance'],
        'Person': ['Jack', 'John', 'Amy', 'Jane', 'Sam', 'Harry'],
        'Salary': [20000, 40000, 25000, 50000, 34000, 70000]}

In [ ]:
# Load the dictionary as dataframe

In [ ]:
# Display the dataframe


Now you can use the .groupby() method to group rows together based off of a column name. Here lets group the data based on the department This will create a DataFrameGroupBy object:

In [ ]:
# Use groupby to group the data by Department

In [ ]:
# save the previous groupby object to a varible by_dept

Now we can call the aggregate methods on this groupby object.

In [ ]:
# Get the mean of all columns grouped by department

In [ ]:
# Get the minimum of all columns grouped by department

In [ ]:
# Get the maximum of all columns grouped by department

In [ ]:
# Get the count of all columns grouped by department

In [ ]:
# Get the description of by_dept object

In [ ]:
# Get only the count of salary from the previous description

If we want to see the description of only certain department than we have to use the following command

In [ ]:
# Check the description of HR department only